<div id="trail-landmarks-div" class="list-group">
  <% landmarks.each do |landmark| %>
    <button type="button" class="list-group-item"><%=landmark.name %></button>
  <% end %>
  <button id="hide-landmarks">Hide</button>
</div>
