<div class="container">
<h1>Welcome <%="#{@user.username.capitalize}"%>!</h1>
<div align="right">
 <form method='post' action='/users/<%="#{@user.id}"%>'>
  <input type="hidden" name="_method" value="delete" />
  <button class="btn waves-effect waves-light" type="submit" name="action">Delete Profile</button>
  </form>
</div>
<hr>
<center><h4>Your Listings</h4></center>
<div class="list-group">
  <%@user.listings.each do |listing| %>
  <button type="button" class="list-group-item"><%=listing.item_name %></button>
  <button class="delete-listing">Delete</button>
  <% end %>
</div>


<div class="new-listing">
  <button class="new_listing_button"><a href="/articles/new" class="waves-effect waves-light btn-large">Sell an Item!</a></button>
  </div>
</div>

<div class="form-area"></div>
