<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BayTrailCycle</a>
    </div>

    <% if session[:user_id] %>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/listings">Listings</a></li>
          <li><a href='/users/<%=current_user.id%>'>Profile</a></li>
          <li><a href="#" id="openBtn">Edit Account</a></li>
          <li><a href="/logout">Logout</a></li>
          <li class="new_listing_button"><a href="/listings/new" class="waves-effect waves-light btn-large">Sell an Item!</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    <% else %>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="active"><a href="/listings">Listings</a></li>
          <!-- <li><a href="/login">Login</a></li> -->
          <li><a href="/users/new">Login or Signup</a></li>
          <!-- <li><a href="#about">About</a></li> -->
        </ul>
      </div><!--/.nav-collapse -->
    <% end %>
  </div>
</nav>
